<!--index.handlebars-->
doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Make Chat
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="socket.io/socket.io.js")
        script(src="/public/index.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css")
        link(rel="stylesheet", href="/public/index.css" type='text/css')
    body
        h1 Socket.io
        form(action="" class="usernameForm")
            input.form-control(type="text" id="usernameInput" placeholder="username")
            button(type="submit" id="createUserBtn").btn-btn-primary Join Chat 

        div(class="mainContainer")

            div.channelsAndUserOnlineContainer
                h1 Make Chat
                div.channels
                    h2.channelsLabel Channels 
                    div.newChannelForm
                        input(id="newChannelInput" placeholder="New Channel")
                        button(type="submit" id="newChannelBtn")
                    div.channel-current General 
                h2 Online Users
                div.usersOnline

            div.chatContainer 
                div.chatContainerFluid
                    div.messageContainer
                        h2 Messages 
                    div.textChatDivide
                    div.chatBox 
                        textarea#chatInput(placeholder="Type a message")
                        button#sendChatBtn.btn(type="submit")

